.header {
    display: grid;
    grid-template-columns: 1fr 210px 1fr;
    grid-template-rows: 193px;
    margin: 49px 50px 51px 50px;
    justify-content: space-between;
    align-items: center;
}

.header_menu {
    justify-self: start;
    justify-content: space-between;
}

.header_menu-list {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    text-underline-position: under;
    list-style: circle;
    gap: 33px;
}


.header_menu-link {
    text-wrap: nowrap;
}

.header_menu-link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header_logo {
    display: block;
    justify-self: start;
    align-items: start;
    max-height: 105px;
}

.header_logo-image {
    min-width: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    text-underline-position: under;
    text-wrap: wrap;
    text-decoration: none;
    font-style: normal;
    line-height: 24.3px;
}

.address a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.header__address {
    margin-right: 36px;
    padding-left: 154px;
}

.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* min-height: 757px; */
    z-index: -1;
    padding: 154px 50px 0 50px;
}

.overlay {
    position: absolute;
    inset: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: -2;
}

.cover_title {
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.36;
    letter-spacing: 30px;
    margin-bottom: 95px;
    text-transform: uppercase;
}

.accent-span {
    display: block;
}

.indent {
    letter-spacing: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    color: #fff;
    text-transform: uppercase;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18.5px;
}

.bet-button {
    border: 1px solid #fff;
    box-sizing: border-box;
    background-color: transparent;
    min-width: 256px;
    min-height: 51px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
    text-transform: uppercase;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.lots {
    display: flex;
    flex-direction: column;
    padding: 180px 24px 0;
    max-width: 1100px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-width: 334px;
    height: 100%;
    min-height: 596px;
    gap: 25px;
    list-style: none;
}

.card-title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration: underline;
    text-decoration-style: solid;
    z-index: 2;
    margin: 48px 40px auto;
}


.lots__card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    gap: 25px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration-style: solid;
    flex-wrap: wrap;
}

.lots-card-list-item {
    position: relative;
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.background_properties {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1;
}

.card__text {
    color: #fff;
    margin: auto 40px 48px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.lots-link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 5px;
    margin-top: 30px;
    padding-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: 288px 690px;
    grid-template-rows: 283px 240px;
    gap: 72px;
    max-width: 1100px;
    width: 100%;
    margin-top: 120px;
    padding: 0 24px;
}

.about_logo {
    background-color: black;
    display: block;
    min-width: 240px;
    min-height: 240px;
    border-radius: 50%;
    padding: 63px 46px;
    margin: 35px 72px 8px 47px;
    z-index: 0;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

.about_title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    padding: 136px 402px 100px 0;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.paragraph {
    padding-top: 1.1em;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-self: start;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px;
    width: 100%;
    margin-top: 180px;
}

.footer__address {
    margin-left: 50px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: start;
    align-items: center;
    text-align: center;
    text-underline-offset: 5px;
}

.footer_menu-list {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex-direction: column;
    list-style: none;
    text-underline-position: under;
    gap: 8px;
}

/* .footer_menu-item */

.footer_menu-link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}

.footer__menu-link_active {
    list-style: none;
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    list-style: none;
    gap: 48px;
    margin-left: 27px;
}

.footer_social-link {
    display: block;
    list-style-type: none;
}

.footer_social-list-item {
    list-style-type: none;
}

.icon {
    width: 48px;
    height: 48px;
}